
.difficulty-buttons, .number-buttons {
    margin: 0.5rem 0;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    background: $light-primary;
    border: 0.4rem solid $light-primary;
    border-radius: 0.4rem;
    font-size: 2rem;
    font-weight: 700;
    &:focus {
        outline: 0;
    }
}

.border-button.current {
    background: white;
}

.play-again {
    padding: 1rem 2rem;
    font-size: 3rem;
}

@media(max-width: 575px) {

    button {
        margin: 0.2rem;
    }

}

@media(max-width: 435px) {

    button {
        border: 0.2rem solid $light-primary;
        padding: 0.4rem 1rem;
        font-size: 1.8rem;
    }

}

@media(max-width: 380px) {

    .number-buttons {
        width: 100%;
        button {
            padding: 0.2rem 0.5rem;
            min-width: calc(100% / 9 - 0.4rem)
        }
    }

}