
.puzzleFlex {
    display: flex;
    justify-content: center;
}

.puzzle, .cell {
    display: flex;
    flex-wrap: wrap;
}

.puzzle {
    width: 60rem;
    border: 0.2rem solid $dark-text;
}

.cell {
    border: 0.2rem solid $dark-text;
    width: 33.33%;
    height: calc(60rem/3);
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.15rem solid $dark-text;
    width: 33.33%;
    height: 33.33%;
    font-size: 3rem;
}

.original-num {
    font-weight: 700;
}

.focus {
    border: 0.3rem solid $bright-primary;
}

.incorrect {
    color: red;
}