$bright-primary: rgb(255, 57, 116);
$light-primary: rgb(168, 196, 255);
$background: rgb(212, 212, 212);
$dark-text: rgb(24, 24, 24);
$body-font: 'Quicksand', sans-serif;
$heading-font: 'Lustria', serif;

* {
    transition: all 0.2s;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: $dark-text;
    font-family: $body-font;
}

.wrapper {
    width: 108rem;
}

.app {
    height: calc(100vh - 5rem);
    margin: 3rem 0 2rem 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

footer {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

@media(max-width: 1235px) {

    .wrapper {
        width: 90rem;
    }

}

@media(max-width: 1020px) {

    .wrapper {
        width: 100%;
    }

    .app {
        margin: 3rem 3rem 2rem 3rem;
    }

}

@media(max-width: 620px) {

    .app {
        margin: 1.5rem;
    }

}