$bright-primary: #FE3C71;
$light-primary: rgb(255, 116, 153);
$background: rgb(212, 212, 212);
$dark-text: rgb(24, 24, 24);
$body-font: 'Quicksand', sans-serif;
$heading-font: 'Lustria', serif;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: $dark-text;
    font-family: $body-font;
}

img {
    max-width: 100%;
}