$bright-primary: rgb(255, 57, 116);
$light-primary: rgb(168, 196, 255);
$background: rgb(212, 212, 212);
$dark-text: rgb(24, 24, 24);
$body-font: 'Quicksand', sans-serif;
$heading-font: 'Lustria', serif;

* {
    transition: all 0.3s;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: $dark-text;
    font-family: $body-font;
}

.wrapper {
    width: 108rem;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    margin: 1rem 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 1rem 0;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}